name: auropay_payments_sandbox
description: AuroPay plugin allows you to accept in-app payments providing you with the building blocks, to create a seamless checkout experience for iOS and Android apps.
version: 1.0.8
homepage: https://github.com/Auropay/flutter_auropay_payments_sandbox

environment:
  sdk: '>=3.1.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: net.auropay.auropay_payments_sandbox
        pluginClass: AuropayPaymentsSandboxPlugin
      ios:
        pluginClass: AuropayPaymentsSandboxPlugin
